*{
	margin:0 auto;
	padding: 0;
}
.row{
	margin:0;
	padding: 0;
}
.space{
	height: 50px;
}
.affix{
	position: fixed;
	background-color: white;
	top: 0;
	width: 100%;
	z-index: 10 !important;
	box-shadow: 1px 1px 1px gray;
	transition: 0.5s;
}
.navbar{
	margin: 0;
}
.navbar-brand{
	color:#ce0058;
	padding: 0 25px;
	height: auto;
}
.navbar-brand .fa{
	font-size: 50px;
    color: #ce0058;
}
.fa{
	display: block;
	margin-left: 10px;
}
.banner .navbar-right li{
    background-color: #ce0058;
    color: white;
    cursor: pointer;
}
.navbar-right li a{
	padding: 20px 16px ;
	color: white;
}
.firstnav li{
	padding: 20px 16px;
	color:#ce0058;
}
.banner .navbar-right li a:visited{
    background-color:#403a60;
}
.banner .navbar-right li a:hover,.banner .navbar-right li:hover{
    background-color:#403a60;
}
.banner .firstnav >li:hover,.firstnav li .dropdown .btn:hover{
	background-color:#ce0058;
	color: black;
}
.banner .firstnav li:hover .dropdown-menu{
	display: block;
}
.navbar-toggle{
	background-color:#ce0058; 
}
.navbar-toggle .icon-bar{
	background-color: white;
}
.banner .firstnav li .dropdown .btn{
	border:none;
	background: none;
	padding:0;
	padding-top: 12px;
}
.dropdown-menu{
	padding: 0;
	margin-top: 22px;
}
.dropdown-menu li{
	padding: 0;
}
.dropdown-menu li a{
	padding: 16px 16px;
    background-color:#ce0058;
    color: white;
    border-bottom: 1px solid white;
}
.dropdown-menu li a:focus,.dropdown-menu li a:hover{
	background-color: white;
	color:#ce0058; 
}
/* full image section*/
.fullimage{
	height: 450px;
	background-image: url("https://res.cloudinary.com/cloudraj/image/upload/v1541083440/ngo1.jpg");
	position: relative;
	background-repeat: no-repeat;
    background-size: cover;
}
.greenhead{
	position: absolute;
	height: 450px;
	width: 25%;
	left: 12%;
	background-color: #a9cf06;
	opacity: 0.9;
	top: 0;
	color: white;
	padding: 10px 20px;
}
.greenhead h3{
	font-size: 28px;
}
.greenhead p{
	font-size: 22px;
}
/*Section starts and header ends*/
.wrapper{
	min-height: 400px;
	padding: 50px 0;
}
.wrapper .container-fluid{
	padding-left: 60px;
	padding-right: 60px;
}
.sectionone{
	color:#340b39;
	background-color: whitesmoke;
}
.sectionone .section-title{
	font-size: 45px;
}
.para{
	width: 70%;
	margin:25px 0;
	font-size: 24px;
}
.section3{
	margin-top: 0;
	padding-top: 30px;
}
.text{
    font-size: 32px;
    color: white;
}
.text-left{
	font-size: 20px;
    color: white;
}
.text-left h2{
	font-size: 20px;
	font-weight: 600;
}
.section .btn{
	display: block;
	text-transform: uppercase;
	background: none;
	border:1px solid white;
	border-right: transparent;
	margin-top: 25px;
	border-radius: 0;
	transition: 0.3s;
	position: relative;
}
.section .btn:before{
	content: '';
	position: absolute;
	width: 1px;
	height: 18px;
	background-color: white;
	left: 102%;
	transform: rotate(-20deg); 
	top: -2%;
}
.section .btn::after{
	content: '';
	left: 102%;
	margin-top: 9px;
	height: 18px;
	background-color: white;
	position: absolute;
	width: 1px;
	transform: rotate(20deg);
}
.section .btn:focus,.section .btn:hover{
	padding-right: 30px;
	transition: 0.3s;
	color:white;
}
.violet-font,.violet-font .text-left{
	color:#403a60; 
}
.violet-font .btn{
	border-color:#403a60;
}
.violet-font .btn::before,.violet-font .btn::after{
	background-color: #403a60;
}
.section4 .col-lg-7{
	position: relative;
	z-index: 1;
}
.image-equal{
	background-image: url("https://res.cloudinary.com/cloudraj/image/upload/v1541083440/ngo1.jpg");
	width: 50%;
	z-index: 10 !important;
	position: absolute;
	height: 500px;
	top: 0;
	left: 20%;
	background-repeat: no-repeat;
}

/*-----form section------*/
.formsection{
	background-color: deepskyblue;
    color: white;
    text-align: center;
    padding: 30px 0;
}
.formsection p{
	font-size: 20px;
}
.formsection input[type=text],input[type=email]{
	padding: 6px;
	border:transparent;
	margin-left: 10px;
	border-radius: 4px;
}
.formsection .btn{
	display: inline-block;
	margin: auto;
	margin-left: 25px;
}

/*---------Footer Section-----------*/
.footer{
	background-color:#403a60;
    color: white;
}
.header{
	padding:10px 0;
	position: relative;  
}
.header::after{
	content: '';
	display: block;
	border-bottom: 1px solid #500abd;
    box-shadow: 1px 1px 1px #3d0b8b;
	margin-top: 10px;
	width: 60%;
}
.footlist{
	list-style-type: none;
}
.footlist li a{
	color: white;
	padding-top: 10px;
}
.footlist li a:hover,.footlist li a:focus{
	color:#1184b3;;
}
input[type=submit]{
	display: block;
    margin-top: 10px;
    background-color: #ce0058;
    border: none;
}
input[type=submit]:hover,input[type=submit]:focus{
	background-color:#1184b3; 
}
.footer input[type=email]{
    background-color: transparent;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 0;
}
.address{
	margin-top: 25px;
}
.foot{
	margin-top: 10px;
    margin-left: 0px;
}
.orange{
	color: #ce0058;
}
.scrollbtn{
	display: none;
	padding: 16px 20px;
	background-color:#ce0058;
	font-size: 22px;
	border-radius:25px;
	border: none;
    box-shadow: 1px 1px 1px grey;  
	position: fixed;
	display:block;
	bottom: 10px;
	right: 20px;
	color: white;
}
.scrollbtn:hover,.scrollbtn:focus{
background-color: #403a60;
border:none;
outline:none;
}
.scrollbtn .fa{
margin: 0;
}

/*------Media Query starts----------*/
@media screen and (max-width: 992px){
	.navbar-collapse.collapse{
		display: none !important;
	}
	.navbar-collapse.collapse.in {
	    display: block!important;
	    height: auto!important;
	    padding-bottom: 0;
	    overflow: visible!important;
	}

	.navbar-header .collapse, .navbar-toggle {
	    display: block !important;
	}
}
@media screen and (max-width: 768px){
	input{margin-top: 20px;margin-left:auto;}
	.formsection .btn{width: 100%;margin-top: 25px;margin-left: auto;}
}